<header>
        <% if user_signed_in? %>
    <nav class="header-navigation">
        <%= link_to image_tag('owlHome.svg'), {action: 'home', controller: 'pages'}, class: "header-navigation__list-item owlButton" %>
        <div class="header-navigation__buttons-right">
            <%= link_to image_tag('accountBtn.svg'), edit_user_registration_path, class: "header-navigation__list-item" %>
            <%= link_to image_tag('logoutBtn.svg'), destroy_user_session_path, method: :delete, class: "header-navigation__list-item" %>
            <%= link_to image_tag('helpBtn.svg'), '/help', class: "header-navigation__list-item" %>
        </div>
    </nav>
    <% end %> 
</header>
