<main class="main-create-hunt">
    <h1>Edit Scavenger Hunt:</h1>
    <section class="create-hunt__section create-hunt__section-hunt">
        <article class="js-article-hunt create-hunt__hunt-article">
            <%= render 'form', hunt: @hunt%>
            <%= link_to 'Back', hunts_path, class: "button edit-hunt__back-button" %>
        </article>
    </section>
</main>