
<main class="main-hunts-index">
        <h1>Your Scavenger Hunts</h1>
        <section class="hunts-index__section">
            <p class="hints-index__instructions"> *Send the authentification key to the players so they can access the hunt.</p>

          <div class="hunts-index__titles">
              <h2 class="hunts-index__title-name">Name:</h2>
              <h2>Authentification key:</h2>
              <h2>Start date:</h2>
          </div>
          <ul>
            
              <%= render @hunts %>

          </ul>

            <%= will_paginate %>
    </section>
    </main>

