<main class="main-help">
        <article class="help__article">
        <h1 class="help__h1">Help</h1>
            <p>Hide and Beep is a website connected to a mobile app to plan and execute Scavenger Hunts. 
                Create an account on the website and plan a hunt. Give it a name, time limit, start and 
                expiry date and most importantly: create hints to help guide the player through the hunt.  
                Set a specific location to which the hint should lead the player. When the user is playing 
                the game and they reach that certain location, the next hint will pop up on their app.  
                The very first hint will appear at the start of the hunt. Create a treasure code to put 
                into the final treasure and hide the treasure in the place that the last hint leads to. 
                The player who correctly enters the treasure code into the app first will win. You can 
                assign users with accounts to take part in a hunt. The participant will then play the 
                game with their app. The hunt will be available to play from the midnight on the start 
                date and until midnight on the expiry date. You can edit and delete the hunts after 
                creating them. Happy hunting!</p>

                <div class="help__legal-notice">

                <h1 class="help__h1">Legal Notice</h1>
                <p>Multi Media Project 2b</p>

                <p>This website was created as multi media project 2b, at Salzburg University of Applied Science (MultiMediaTechnology).</p>
                <p>Graphic Design and Technical Implementation</p>

                <p>Tra Nguyen & Natasha Troth</p>
                </div>
        </article>
</main>