<main class="main-home">
    <%= image_tag 'logo.svg', class:"home__logo", alt:"Hide and Beep logo" %>
    <h1 class="hidden">Hide and Beep home</h1>
    <nav>
        <ul class="home-navigation-buttons">
            <li class="home-navigation-buttons__list-element button"><%= link_to 'Create new Scavenger Hunt', new_hunt_path, class: "home-navigation-buttons__button" %></li>
            <li class="home-navigation-buttons__list-element button"><%= link_to 'View your created Hunts', hunts_path, class: "home-navigation-buttons__button" %></li>
        </ul>
    </nav>
</main>
