<main class="main-privacy-policy">

    <article class="privacy-policy__article">
        <h2 class="main-privacy-policy__h2">Privacy Policy</h2>
        <p>The protection of your personal data is very important to us. We therefore process your data exclusively
            on the basis of the legal regulations (DSGVO, TKG 2003). In this privacy policy
            we inform you about the most important aspects of data processing within our website. </p>

        <h3 class="main-privacy-policy__h3">Data storage</h3>

        <p>For the purpose of tthis website, the following data is stored with us:
            Email and password of the user. The data provided by you is used to carry out required functions for this
            website.
            Without this data, the features of the website cannot be used.
            The data is saved until you delete your user account. Then your data will be completey
            deleted.</p>

        <h3 class="main-privacy-policy__h3">Cookies</h3>
        <p>Our website uses so-called cookies. These are small text files that, with
            help from the browser, are stored on your device. They do no harm.
            We use cookies to make our service user-friendly. Some cookies stay stored on your device
            until you delete them. They allow the browser to recognise you as a user the next time you visit
            the website.

            If you do not want this, you can set up your browser to notify you when setting
            cookies and let you allow these only in individual cases.

            The deactivation of cookies may limit the functionality of our website.</p>

        <h3 class="main-privacy-policy__h3">Your rights</h3>
        <p> You have the right to correction, deletion, restriction, data portability, revocation and opposition
            regarding your data stored with us.
            If you believe that the processing of your data violates the data protection law or
            your data protection claims have been violated in another way, you can contact
            us or the Data Protection Authority.
            You can reach us at the following e-mail address:
            hideandbeep@gmail.com</p>
    </article>

    <article class="privacy-policy__article">
        <h2 class="main-privacy-policy__h2">Erklärung zur Informationspflicht
            (Datenschutzerklärung)</h2>
        <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher
            ausschließlich
            auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen
            informieren wir
            Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Website. </p>

        <h3 class="main-privacy-policy__h3">Datenspeicherung</h3>

        <p>Für diese Website werden folgende Daten bei uns gespeichert:
            Email und Passwort des Benutzers. Die von Ihnen bereit gestellten Daten sind zur Durchführung Maßnahmen
            erforderlich.
            Ohne diese Daten können die Funktionen der Website nicht verwenden.

            Die Daten werden gespeichert, bis Sie Ihren Benutzerkonto löschen. Dann werden die Daten vollständig
            gelöscht.</p>

        <h3 class="main-privacy-policy__h3">Cookies</h3>
        <p>Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit
            Hilfe des Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an.

            Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem
            Endgerät
            gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch
            wiederzuerkennen.

            Wenn Sie dies nicht wünschen, so können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von
            Cookies informiert und Sie dies nur im Einzelfall erlauben.

            Bei der Deaktivierung von Cookies kann die Funktionalität unserer Website eingeschränkt sein.</p>

        <h3 class="main-privacy-policy__h3">Ihre Rechte</h3>
        <p> Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft,
            Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu.
            Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder
            Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei
            uns oder der Datenschutzbehörde beschweren.
            Sie erreichen uns unter der folgenden E-mail Adresse:
            hideandbeep@gmail.com</p>
    </article>
</main>