<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @working_title.title %>
</p>

<%= link_to 'Edit', edit_working_title_path(@working_title) %> |
<%= link_to 'Back', working_titles_path %>
